.flex {
    display: flex;
    flex-wrap: wrap;
    flex: 1 33%;
}

body {
    background-color:cadetblue;
}

.card {
    border: solid 1px goldenrod;
    box-shadow: 2px 1px 1px;
    margin: 5px;
    max-width: 30%;
    max-height: 30%;
    background-color: #607D8B;
}

h2 {
    text-align: center;
}

img {
    max-width: 80%;
    margin: auto;
    display: block;
}

.pricing {
    font-weight: bold;
    text-indent: 5px;
    margin: 3px;
    font-family: 'Lato', sans-serif;
}

.specifications {
    font-weight: bold;
    text-indent: 5px;
    margin: 3px;
    font-family: 'Lato', sans-serif;
}

.details {
    text-indent: 8px;
}

.availability {
    background-color: darkgray;
    color: yellow;
    margin: 5px;
    font-size:larger;
}

.title {
    border: solid 1px lightblue;
}

footer {
    font-size: smaller;
    font-weight: normal;
    margin: 3px;
}

.description {
    margin: 5px;
    border-top: dashed 2px lightblue;
    border-bottom: dashed 2px lightblue;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sold_out {
    position: absolute;
    top: 9%;
    right: 9%;
    z-index: 1;
}